<h1>Project_0</h1>
<h2>Project Description: Environment Set Up </h2>
<p> For Project 0, I did not get any grade I think because the file I submitted was not named according to the assignment said.  But I cannot submit text file since Professor only wanted screenshot and I could not think of a text file takes picture so I submitted a Word document.
Here are the screen shots I submitted for the assignment.

<%= image_tag("FirstAssignmentFirstScreen.gif",:alt =>"First Screen Shot") %> 
</p><br></br>
<h3> URL:
<td><%= project_0_path %></td>
</h3>
