// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/* universal */
html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2 em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #000080;
}
h3 {
  margin-left: 20px;
  font-size: 1em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #000080;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin-left: 30px;
}

tr a {
  color: #555;
}
tr a:hover {
  color: #222;
}

table.center {
  margin-left:auto;
  margin-right:auto;
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#CAE1FF;
  border-width: 5px;
  border-style: solid;
  border-color: #999999;
  border-collapse: collapse;
}
table.center thead{
  padding: 8px;
  background-color: #191970;
  color: #CC00CC;
  font-color: #CC00CC;
  align: center; 
 
}
table.center tbody {
  background-color: #CAE1FF;
  color: #191970;
  border-color: #191970;
  border-style: solid;
  text-align: left;

}
table.center tbody tr td {
  background-color: #CAE1FF;
  font-color: #191970;
  border-color: #191970;
  border-style: solid;
}
table.center tbody tr td:hover {
  background-color: #CAFF70;
}
table.calendar {
   margin-left:auto;
   margin-right:auto;
   table-layout: fixed; width: 100%;
}
table.calendar thead div {
      align: center;
      font-family: arial;
      font-size: 18px;
      font-weight: bold;
      font-color: #CC00CC;
      text-align: center; 
}
table.calendar tbody td{
   CURSOR: Hand;
   align: left;
   font-size: 12px;
   font-weight: bold;
   width: 90px;
   height: 90px;
   border: 1px solid black;
}
table.calendar td {
   border: 1px solid black;
}

table.calendar td:hover {
  background-color: #FFFFCC;
  color: #222;
}
table.calendar td:focus {
  background-color: #c0c0c0;
  color: #222;
}
.on {
  background-color: #c0c0c0;
}
form {
  font-size: 0.8 em;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #000080;
}
